<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dac.onlineausadhi.onlineaushadhilin">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/favicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dac.onlineausadhi.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dac.onlineausadhi.activities.LoginActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.RegistrationActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.PrescriptionActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.TutorialActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.OrderDetailsActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.OrderMedicinesActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.CartListActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.ChangeProfileActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.UploadPrescriptionActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.EnquiryActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.ForgotPasswordActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.NotificationActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.SettingsActivity" />

        <!-- GCM Receiver Service -->
        <service
            android:name="com.dac.onlineausadhi.classes.MyFirebaseMessagingService"
            android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.dac.onlineausadhi.classes.MyFireBAseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.dac.onlineausadhi.activities.RecentMedicinesActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.NotificationDetailsActivity" />
        <activity android:name="com.dac.onlineausadhi.activities.DeliveryDetailsActivity"></activity>
    </application>

</manifest>